@page
@model WebApp.Pages.LogsModel
<!-- Foundational style sheet -->
<link rel="stylesheet" href="~/css/ezleadgenerator.styles.css" />

<h2>Log Folders</h2>
<ul>
    @foreach (var folder in Model.Folders)
    {
        <li>
            <a asp-page="Folders" asp-route-folder="@folder">@folder</a>
        </li>
    }
</ul>